body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dddddd;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	background-color: #f2f8f9;
}

::-webkit-scrollbar-thumb:hover {
		background-color: #C1C1C1;
}


#dashboard {
	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
			display: block;
		}

	.mobile-show {
			display: none;
		}

	.pad {
		padding-right: 10px;
	}

	.pad-20 {
		padding: 20px;
	}

	.padng-20 {
		padding: 0 20px;
    	padding-top: 40px !important;
    	padding-bottom: 44px !important;
	}

	.bold {
		font-weight: bold;
	}

	.mar-bot-20 {
		margin-bottom: 20px;
	}

	.font-16 {
		font-size: 16px;
	}

	.font-24 {
		font-size: 24px;
	}

	.pad-top-bot-40 {
		padding-bottom: 35px;
		padding-top: 20px;
	}

	.pad-top-30 {
		padding-bottom: 40px;
	}

	.width-90 {
		width: 90%;
	}

	.center {
		text-align: center;
	}

	.text-left {
		text-align: left;
	}

	.mar-top-35 {
		margin-top: 35px !important;
	}

	.min-height {
		min-height: 230px;
	}

	.top-0 {
		margin-top: 0 !important;
	}

	.pad-left-10 {
		padding-left: 10px;
	}

	.device-details::-webkit-scrollbar-thumb, .parameter-trend::-webkit-scrollbar-thumb {
	 background-color: #f0f0f0;
	}

	.device-details:hover::-webkit-scrollbar-thumb, .parameter-trend:hover::-webkit-scrollbar-thumb {
	 background-color: #C1C1C1;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains, .ant-layout-footer {
		margin: 0 30px;
		margin-left: 230px;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.city-select {
		margin-left: 10px;
	}

	.map-container {
		margin-right: 55px;
	}

	.device-details {
		max-height: 348px;
		overflow: auto;
		margin-top: 20px;
	}

	.contain {
		margin-top: 72px;
		padding: 25px 12px;
		background: #fff;
	}

	.aqi-details {
		margin-top: 30px;
		background: transparent;
		padding: 7px 0;
	}

	.ant-divider-horizontal {
		margin: 3px 0;
	}

	.device-row {
		width: 100%;
		padding: 18px 0;
		border-bottom: 1px solid #e3e3e3;
	}

	.head {
		font-size: 20px;
		text-align: center;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.full-height {
		height: 400px;
		width: 100%;
	}

	.section-head {
		padding: 15px;
		color: #063261;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		margin-right: 1px;
		background-color: #fff;
		z-index: 1;
	}

	.aqi-scale {
		width: 70%;
		margin: 0 24px;
		padding: 20px 0;
		padding-top: 0;
	}

	.select-icon:before {
		content: '';
			position: absolute;
			display: inline-table;
			width: 18px;
			height: 18px;
			float: left;
			background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
			top: 8px;
			left: 8px;
			z-index: 9;
	}

	.value {
		display: inline-block;
		padding: 0 15px;
		padding-left: 0;
		text-align: center;
	}

	.graph-value {
		font-size: 18px;
	}

	.highcharts-credits {
		display: none;
	}

	.hr24-graph {
		padding: 20px 0;
	}

	.highcharts-container {
		text-align: center;
		margin: 0 auto;
	}

	.ant-select-selection__rendered {
		margin-left: 35px;
	}

	.ant-select-dropdown-menu-item {
		padding: 5px 26px;
	}

	.aqi-trend {
		padding-left: 20px;
	}

	.aqi-status {
		font-size: 16px;
		margin-bottom: 14px;
		font-weight: bold;
	}

	.aqi-value {
		font-size: 42px;
		font-weight: bold;
	}

	.parameter-trend {
		max-height: 400px;
		overflow: auto;
	}

	.aqi-pollutant-graphs {
		margin-top: 25px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ddd;

		.value {
			div:last-child {
				font-size: 12px;
			}
		}
	}

	.graph-name {
		padding: 0 55px;
	}

	.pollutant-name {
		font-size: 16px;
	}

	.graph-aqi {
		margin-left: 30px;
	}

	.graph-aqi-value {
		font-size: 26px;
		padding-right: 10px;
		font-weight: bold;
	}

	.back-col {
		background-color: #f4f4f4;
	}

	.weather-values {
		text-align: center;
		margin: 5px 0;
	}

	.weather-value {
		font-size: 20px;
		font-weight: 600;
	}

	.para-value {
		margin-top: -15px;
		position: relative;
		z-index: 2;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.gas-graph {
		padding: 20px 0;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}


}

.dashboard-type-1, .dashboard-type-2 {
	.border-bot {
		border-bottom: 1px solid #d9d9d9;
	}

	.hed {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 15px;
		text-align: left;
		margin-top: 10px;
	}

	.close {
		margin: 8px;
		float: right;
	}

	.close-butn {
		cursor: pointer;
		font-size: 18px;
		opacity: 0.5;
		transition: all 0.3s;
	}

	.close-butn:hover {
		color: #000;
		font-size: 20px !important;
	}

	.view-btn{
		cursor: pointer;

		&:hover {
			color: #52c41a;
		}
	}

	.aqi-trend {
		padding: 0 !important;
	}

	.aqi-scale {
		margin: 0 auto !important;
		width: 80% !important;
	}

	.more {
		text-align: center;
		padding: 5px;
		font-size: 15px;
		width: 88%;
		margin-top: 20px;
		cursor: pointer;
	}

	.width-90 {
		width: 135% !important;
	}

	.aqi-value {
		font-size: 35px !important;
	}
}

.dashboard-type-1 {
	.parameter-trend {
		max-height: unset !important;
	}

	.aqi-pollutant-graphs {
		width: 33.3%;
		display: inline-block;

		.mar-left {
			margin-left: -20px;
		}
	}

	.value {
		padding: 0 !important;
		padding-right: 10px !important;
	}

	.no-border {
		border: none !important;
	}

	.aqi-trend-details, .parameter-trend-details {

	}
}

.dashboard-type-2 {
	.graph-container {
		max-height: 175px !important;
		overflow: auto;
	}

	.parameter-trend {
		max-height: unset !important;
	}

	.aqi-pollutant-graphs {
		display: inline-block !important;
		width: 50% !important;
	}

	.graph-name {
		padding: 0 20px !important;
	}

	.pollutant-name {
		font-size: 14px !important;
	}

	.graph-aqi-value {
		font-size: 16px !important;
	}

	.value {
		padding: 0 !important;
		padding-right: 10px !important;
	}
}

.type-1-loader {
	.city-select {
		.ant-skeleton-title {
			width: 80% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.full-height {
		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.aqi-pollutant-graphs {
		padding-left: 20px;
		width: 32.3% !important;
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hr24-graph {
		padding: 20px !important;
		width: 100%;
	}

	.avtar-load {
		.ant-skeleton-title {
			margin-bottom: 0.3em !important;
			margin-top: 12px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			margin-top: 0 !important;
			padding: 0 !important;

			li {
				height: 10px !important;
			}

			li + li {
				margin-top: 8px !important;
			}
		}
	}

	.wind-load {
		position: absolute;
		top: 60% !important;
	}

	.graph-load {
		text-align: center;
	}
}

.type-2-loader {
	.city-select {
		.ant-skeleton-title {
			width: 80% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.full-height {
		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.aqi-pollutant-graphs {
		padding-left: 20px;
		width: 32.3% !important;
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hr24-graph {
		padding: 20px !important;
		width: 100%;
	}

	.avtar-load {
		.ant-skeleton-title {
			margin-bottom: 0.3em !important;
			margin-top: 12px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			margin-top: 0 !important;
			padding: 0 !important;

			li {
				height: 10px !important;
			}

			li + li {
				margin-top: 8px !important;
			}
		}
	}

	.wind-load {
		position: absolute;
		top: 60% !important;
	}

	.graph-load {
		text-align: center;
	}
}

@media screen and (min-width: 1441px) {
	body {
		font-size: 16px !important;
	}

	.dashboard-type-1, .dashboard-type-2 {
		.hed {
	    	font-size: 16px !important;
	    }

	    .width-90 {
	    	width: 100% !important;
	    }
	}

	.dashboard-type-1 .aqi-pollutant-graphs .mar-left {
		margin-left: -65px !important;
	}

	.dashboard-type-2 .pollutant-name {
		font-size: 16px !important;
	}

	.dashboard-type-2 {
		.ant-col-7 { 
			.value:first-child {
				margin-left: -30px !important;
			}
		}
	}

	#dashboard {
		.full-height {
			height: 600px;
		}

		.head {
			font-size: 22px;
		}

		.device-details {
			max-height: 545px;
		}

		.min-height {
			min-height: 277px;
		}

		.padng {
			padding-top: 40px !important;
		}

		.img-logo {
			width: 70%;
		}

		.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 1280px) {
	#dashboard {
		.map-container {
			width: 50%;
		}
	}
}

@media screen and (max-width: 1024px) {
	#dashboard {
		.white {
			width: 100%;
			margin-top: 40px;
		}

		.logo-img {
			width: 77% !important;
		}
		
		.mobile-hide {
			display: none;
		}

		.width-100 {
			width: 100%;
			margin-top: 80px;
		}

		.parameter-trend, .weather-trend, .aqi-trend-details {
			width: 100% !important;
		}

		.map-container {
			margin: 0px;
			width: 100%;
		}
	}

	.dashboard-type-1 {
		.aqi-pollutant-graphs {
			width: 50%;
		}
	}
}

@media screen and (max-width: 1023px) {

	#dashboard {

		.width-100 {
			margin-top: 0;
		}

		.back-white {
			background: #fff;
			padding: 20px 0;
		}

		.pad-t-35 {
			padding-top: 35px;
		}

		.pad-lr-20 {
			padding: 0 20px;
		}

		/*.display-none {
			display: none;
		}*/

		.mar-bot-25 {
			margin-bottom: 25px;
		}

		.aqi-scale {
			width: 84%;
			margin: 0 auto !important;
		}

		.aqi-trend {
			padding-left: 0;
		}

		.ant-col-4 {
			width: 10%;
		}

		.aqi-value {
			font-size: 34px;
		}

		.aqi-status {
			margin-bottom: 9px;
		}

		.device-section {
			margin-top: 40px !important;
		}
	}
}

@media (min-width: 600px) and (max-width: 640px) {
	#dashboard {
		.ant-col-4 {
			width: 16%;
		}

		.head {
			margin-top: 30px;
			margin-bottom: 0;
		}

		.display-none {
			display: none;
		}

		.aqi-details {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 425px) {
	#dashboard {
		.head {
			margin-top: 30px;
			margin-bottom: 0;
		}

		.display-none {
			display: none;
		}

		.logo-img {
			width: 110% !important;
		}

		.city-select {
			width: 100%;
			margin-left: 0;
		}

		.aqi-details {
			margin-top: 0;
			display: none;
		}

		.weather-trend {
			display: block !important;
		}

		.ant-select {
			width: 100% !important;
		}

		.ant-col-7 {
			width: 51%;
		}

		.mar-top-20 {
			margin-top: 20px;
		}

		.width-41 {
			width: 41% !important;
		}

		.font-24 {
			font-size: 18px;
			width: 30%;
		}

		.weather-value {
			font-size: 14px;
		}

		.hr24-graph {
			display: none;
		}

		.pad-lr-10 {
			padding-left: 10px;
			padding-right: 10px;
		}

		.width-22 {
			width: 22% !important;
		}

		.ant-col-4 {
			width: 16.66666667%;
		}

		.width-90 {
			width: 90%;
		}

		.aqi-value {
			font-size: 34px;
		}

		.aqi-status {
			margin-bottom: 2px;
		}

		.parameter-trend {
			max-height: unset;
		}

		.trend1, .trend2 {
			width: 100% !important;
		}

		.trend2 {
			margin-top: 30px;
		}
	}
}