body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dfdfdf;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: transparent;
}

body::-webkit-scrollbar-track {
	background-color: #f2f8f9;
}

::-webkit-scrollbar-thumb:hover {
		background-color: #C1C1C1;
}
$color-1 = #00b050
$color-2 = #92d050
$color-3 = #ffff00
$color-4 = #ff9900
$color-5 = #ff0000
$color-6 = #c00000

#dashboard {
	height: 100%;
	background-color: #f2f8f9;

	.min-height {
		min-height: 230px;
	}

	.dashboard-wid-wind, .dashboard-widout-wind {
		.border-bot {
			border-bottom: 1px solid #d9d9d9;
		}

		.hed {
			font-size: 14px;
			font-weight: bold;
			margin-bottom: 10px;
			margin-left: 15px;
			text-align: left;
			margin-top: 10px;
		}

		.close {
			margin: 8px;
			float: right;
		}

		.close-butn {
			cursor: pointer;
			font-size: 18px;
			opacity: 0.5;
			transition: all 0.3s;
		}

		.close-butn:hover {
			color: #000;
			font-size: 20px !important;
		}

		.view-btn{
			cursor: pointer;

			&:hover {
				color: #52c41a;
			}
		}

		.aqi-trend {
			padding: 0 !important;
		}

		.aqi-scale {
			margin: 0 auto !important;
			width: 80% !important;
		}

		.more {
			text-align: center;
			padding: 5px;
			font-size: 15px;
			width: 88%;
			margin-top: 20px;
			cursor: pointer;
		}

		.width-90 {
			width: 135% !important;
		}

		.aqi-value {
			font-size: 35px !important;
		}
	}

	.dashboard-widout-wind {
		.graph-container {
			max-height: 175px !important;
			overflow: auto;
		}

		.parameter-trend {
			max-height: unset !important;
		}

		.aqi-pollutant-graphs {
			display: inline-block !important;
			width: 50% !important;
		}

		.graph-name {
			padding: 0 20px !important;
		}

		.pollutant-name {
			font-size: 14px !important;
		}

		.graph-aqi-value {
			font-size: 16px !important;
		}

		.value {
			padding: 0 !important;
			padding-right: 10px !important;
		}
	}

	.mar-left-auto {
		margin-left: auto !important;
	}

	.pad-left-25 {
		padding-left: 26px;
	}

	.font-14 {
		font-size: 14px;
	}

	.aqi-details {
		margin-top: 30px !important;
		background: transparent !important;
		padding: 7px 0 !important;
	}

	.padng-20 {
		padding: 0 20px;
		padding-top: 40px !important;
		padding-bottom: 44px !important;
	}

	.aqi-1 {
		color: $color-1;
	}
	.aqi-2 {
		color: $color-2;
	}
	.aqi-3 {
		color: $color-3;
	}
	.aqi-4 {
		color: $color-4;
	}
	.aqi-5 {
		color: $color-5;
	}
	.aqi-6 {
		color: $color-6;
	}

	.margin-bottom-30 {
		margin-bottom: 30px;
	}

	.station-name-date {
		position: relative;
	}

	.station-title {
		max-width: calc(100% - 580px);
		margin-left: 10px !important;
	}

	.date-range-container {
		width: 530px;
		margin-right: 10px;
		display: inline-flex;
		align-items: center;
		justify-content: space-between;
		float: right;
		padding-top: 55px;
	}

	.from-time-picker {
	width: 420px;
	}

	.range-warning {
		display: inline-block;
		color: red;
		width: 230px;
	}

	.calendar-icon {
		width: 100% !important;

		.ant-select-selection__rendered {
			margin-left: 35px;
		}
	}

	.ant-calendar-picker-icon:after {
		display: none;
	}

	.ant-calendar-picker-input.ant-input {
		display: inline-flex;
		align-items: center;
		justify-content: space-evenly;
	}

	.calendar-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 16px;
		height: 14px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 60'><path fill='#666' d='M50.25 11a364.37 364.37 0 0 1-16.62-9.42 4.97 4.97 0 0 0-7.26 0A365.91 365.91 0 0 1 9.75 11H0v49h60V11h-9.75zM32.22 3l.01.02c.25.27.51.69.66 1.22l.04.13a3 3 0 1 1-5.86 0c0-.05.03-.09.04-.13.15-.53.41-.95.66-1.22V3a2.98 2.98 0 0 1 4.45 0zm-7.21 1.75L25 5a5 5 0 1 0 10-.25c3.59 2.14 8.03 4.6 11.05 6.25h-32.1C16.97 9.35 21.4 6.89 25 4.75zM10 13h48v5H2v-5h8zM2 58V20h56v38H2z'/><circle cx='23' cy='28' r='1'/><circle cx='30' cy='28' r='1'/><circle cx='37' cy='28' r='1'/><circle cx='44' cy='28' r='1'/><circle cx='51' cy='28' r='1'/><circle cx='9' cy='36' r='1'/><circle cx='16' cy='36' r='1'/><circle cx='23' cy='36' r='1'/><circle cx='30' cy='36' r='1'/><circle cx='37' cy='36' r='1'/><circle cx='44' cy='36' r='1'/><circle cx='51' cy='36' r='1'/><circle cx='9' cy='43' r='1'/><circle cx='16' cy='43' r='1'/><circle cx='23' cy='43' r='1'/><circle cx='30' cy='43' r='1'/><circle cx='37' cy='43' r='1'/><circle cx='44' cy='43' r='1'/><circle cx='51' cy='43' r='1'/><circle cx='9' cy='51' r='1'/><circle cx='16' cy='51' r='1'/><circle cx='23' cy='51' r='1'/><circle cx='30' cy='51' r='1'/><circle cx='37' cy='51' r='1'/></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}
	
	.ant-input {
		padding-left: 30px;
	}
	.ant-input-suffix {
		display: none;
	}

	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.mar-bot-25 {
		margin-bottom: 25px;
	}

	.text-left {
		text-align: left;
	}

	.danger-back {
		background-color: #f5222d;
	}

	.success-back {
		background-color: #52c41a;
	}

	.warning-back {
		background-color: #faad14;
	}

	.inactive-back {
		background-color: #c1c1c1;
	}

	.rainfall-dark-blue {
		background-color: #106DBF;
	}

	.rainfall-light-blue {
		background-color: #86BEEF;
	}

	/*.label-content{
		margin-left: 20px;
	}*/

	.online-label:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #52c41a;
	}

	.offline-label:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.pump-online-no-pump:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #faad14;
	}

	.pump-online-pump:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #52c41a;
	}

	.pump-offline:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.rain-online-1hr:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #106DBF;
	}

	.rain-online-24hrs:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #86beef;
	}

	.rain-online-no-rain:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #faad14;
	}

	.rain-offline:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.label-wrapper{
		width: calc(100% / 4);
	}

	.label-wrapper:first-child{
		padding-left: 30px;
	}

	/*#label_container{
		padding: 0 30px;
	}*/

	.layer-icon-container{
		svg{
			vertical-align: middle;
		}
		.layer-text{
			vertical-align: middle;
				padding-left: 10px;
		}
	}

	.address{
		color: black;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		
		span{
			font-size: 14px;
			font-weight: 400;
		}
	}

	.index{
		font-weight: bold;
	}

	.white {
		background-color: #fff !important;
	}

	.back-transparant {
		background-color: transparent !important;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.pad {
		padding-right: 10px;
	}

	.pad-20 {
		padding: 20px;
	}

	.bold {
		font-weight: bold;
	}

	.mar-bot-20 {
		margin-bottom: 20px;
	}

	.mar-20 {
		margin: 20px !important;
	}

	.font-16 {
		font-size: 16px;
	}

	.font-24 {
		font-size: 24px;
	}

	.pad-bot-40 {
		padding-bottom: 40px;
	}

	.width-90 {
		width: 90%;
	}

	.wid-90 {
		width: 90%;
		margin: 0 auto;
	}

	.mar-left-26 {
		margin-left: 26px;
	}

	.pad-top-25 {
		padding-top: 25px !important;
	}

	.center {
		text-align: center;
	}

	.text-left {
		text-align: left;
	}

	.back-grey {
		background-color: rgba(250, 251, 251, 0.8);
	}

	.mar-top-35 {
		margin-top: 35px !important;
	}

	.mar-top-20 {
		margin-top: 20px;
	}

	.mar-top-10 {
		margin-top: 10px;
		margin-left: 15px;
		margin-bottom: 0;
	}

	.mar-top-11 {
		margin-top: 11px;
	}

	.pad-bot {
		padding-bottom: 20px;
	}

	.top-0 {
		margin-top: 0 !important;
	}

	.pad-left-10 {
		padding-left: 10px;
	}

	.border-bot {
		border-bottom: 1px solid #d9d9d9;
	}

	.no-border {
		border: none !important;
	}

	.max-height {
		max-height: 398px;
		overflow: auto;
	}

	.device-details::-webkit-scrollbar-thumb, .parameter-trend::-webkit-scrollbar-thumb {
	 background-color: #f0f0f0;
	}

	.device-details:hover::-webkit-scrollbar-thumb, .parameter-trend:hover::-webkit-scrollbar-thumb {
	 background-color: #C1C1C1;
	}

	.contains, .ant-layout-footer {
		margin: 0 30px;
		margin-left: 230px;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		// text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.city-select {
		margin-left: 22px;
	}

	.map-container {
		position: relative;
	}

	.label-wrapper {
		font-size: 12px;
	}

	.online-label:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #52c41a;
	}

	.offline-label:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.pump-online-no-pump:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #faad14;
	}

	.pump-online-pump:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #52c41a;
	}

	.pump-offline:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.rain-online-1hr:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #106DBF;
	}

	.rain-online-24hrs:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #86beef;
	}

	.rain-online-no-rain:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #faad14;
	}

	.rain-offline:before{
		content: '';
		width: 10px;
		height: 10px;
		margin-right: 5px;
		border-radius: 50%;
		display: inline-block;
		background-color: #f5222d;
	}

	.label-wrapper{
		width: calc(100% / 4);
	}

	.label-container-mobile {
		width: 100%;
		margin: 15px auto;
		.label-wrapper {
			margin-top: 20px;
			width: 100%;
		}

		.label-wrapper:first-child {
			margin-top: 0;
			padding-left: 0;
		}
	}

	.show-index-btn {
		margin-top: 10px;
	}

	.layer-icon-container{
		svg{
			vertical-align: middle;
		}
		.layer-text{
			vertical-align: middle;
				padding-left: 10px;
		}
	}

	.address{
		color: black;
		font-size: 14px;
		font-weight: 400;
		line-height: 22px;
		
		span{
			font-size: 14px;
			font-weight: 400;
		}
	}

/*	.map-btn {
		position: absolute;
		left: 10px;
		top: 60px;
		z-index: 2;
	}

	.map-menu {
		position: absolute;
		left: 10px;
		top: 100px;
		z-index: 2;
	}*/

	.device-details {
		max-height: 428px;
		overflow: auto;
		margin-top: 20px;
	}

	.clock-img {
		width: 13px;
		margin-right: 10px;
		margin-bottom: 3px;
	}

	.contain {
		margin-top: 86px;
		padding: 25px 12px;
		background: #fff;
	}

	.device-row {
		width: 100%;
		padding: 18px 0;
		border-bottom: 1px solid #ebe8e8;
	}

	.device-row:last-child {
		border-bottom: none;
	}

	.dot {
		width: 10px;
		height: 10px;
		border-radius: 20px;
		margin-top: 4px;
	}

	.hed {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 15px;
		text-align: left;
		margin-top: 10px;
	}

	.status-contain {
		padding: 0 15px;
		text-align: center;
		padding-bottom: 15px;
		border-bottom: 1px solid #d9d9d94f;

		.highcharts-background {
			fill: #fbfbfb;
		}
	}

	.label-heading {
		margin-bottom: 5px;
	}

	.label-content {
		div{
			padding-top: 5px
		}
	}

	.expand {
		min-height: 385px;
		max-height: 385px;
	}

	.expand-pump-view {
		min-height: 246px !important;
		max-height: 246px !important;
	}

	.error-message {
		width: 100%;
	}

	.dust-param {
		padding-top: 10px;
	}

	.param-ON {
		color: green;
	}
	
	.param-OFF {
		color: red;
	}

	.client-name {
		font-size: 16px;
		font-weight: bold;
		margin: 5px;
	}

	.no-station {
		justify-content: center;
	}
	.tooltip-rainfall{
		font-size: 10px;
	}

	.pump-names {
		font-size: 12px;
		overflow-y: scroll;
		max-height: 126px; //134
		min-height: 126px; //134
	}

	.status-hed {
		color: #063261;
		margin-top: 20px;
		margin-bottom: 20px;
		text-align: left;
	}

	.status-img {
		width: 17px;
		margin-right: 13px;
	}

	.status-value {
		font-weight: normal;
		font-size: 18px;
	}

	.status-type {
		font-size: 12px;
	}

	.count {
		padding: 4px 14px;
		padding-top: 8px;
		display: inline;
		margin-left: 28px;
		background-color: rgba(239, 240, 241, 0.8);
		position: relative;
		font-weight: normal;
		border-radius: 20px;
	}

	.count-value {
		font-size: 20px;
	}

	.next-butn {
		cursor: pointer;
		transition: all 0.3s;
	}

	.next-butn:hover {
		padding-left: 3px;
	}

	.close {
		margin: 8px;
		float: right;
	}

	.close-butn {
		cursor: pointer;
		font-size: 18px;
		opacity: 0.5;
		transition: all 0.3s;
	}

	.close-butn:hover {
		color: #000;
	}

	.time {
		font-size: 12px;
	}

	.more {
		text-align: center;
		padding: 5px;
		font-size: 15px;
		width: 100%;
		margin-top: 20px;
		cursor: pointer;
	}

	.air-more {
		margin-top: 60px;
	}

	.station-details {
		margin-left: 210px;
		margin-right: 10px;
	}

	.head {
		font-size: 18px;
		padding-top: 55px;
		display: inline-block;
		margin-bottom: 5px;
		margin-left: 20px;
		font-weight: bold;
		text-align: left;
	}

	.pumps {
		padding: 2px 0;
	}

	.date-picker {
		margin-top: 55px;
		margin-right: 12px;
		float: right;
		display: inline-block;
	}

	.full-height {
		height: 480px;
		width: 100%;
	}

	.section-head {
		padding: 15px;
		color: #063261;
		font-weight: bold;
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		margin-right: 1px;
		background-color: #fff;
		z-index: 1;
	}

	.event-head {
		font-size: 18px;
		font-weight: bold;
		padding: 5px 20px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.contain-head {
		font-weight: bold;
		font-size: 18px;
	}

	.contain-value{
		font-weight: bold;
		font-size: 22px;
	}

	.graph-head {
		border-top: 1px solid #d9d9d9;
		border-bottom: 1px solid #d9d9d9;
		font-weight: bold;
		margin-top: 20px;
	}

	.map-contain {
		margin-top: 20px;
	}

	.graph-value {
		font-size: 18px;
	}

	.sump-graph {
		margin-top: 30px;
		padding-bottom: 30px;
	}

	.pump-graph {
		border-bottom: 1px solid #adadad;
		margin-top: 10px;
		padding-bottom: 10px;
		// margin-left: 20px;
		// margin-right: 20px;

		&:last-child {
			border-bottom: 0;
		}
	}

	.rainfall {
		padding-left: 20px;
	}

	.rain-head {
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
		font-size: 20px;
	}

	.street-img {
		width: 70%;
	}

	.gated-img {
		width: 100%;
	}

	.airQuality {
		.status-hed {
			margin-top: 30px;
		}
	}

	.symbol {
		color: #000;
		display: inline;
		float: right;
		text-align: left;
		margin-right: 30px;
	}

	.event-container {
		margin-top: 20px;
	}

	.highcharts-credits {
		display: none;
	}

	.hr24-graph {
		padding: 20px 0;
	}

	/*.hr24-graph {
		padding: 20px !important;
		width: 100%;
	}*/

	.highcharts-container {
		text-align: center;
		margin: 0 auto;
	}

	.ant-select-selection__rendered {
		margin-left: 3px;
	}

	.search .ant-select-selection__rendered {
		margin-left: 35px;
	}

	.ant-select-dropdown-menu-item {
		padding: 5px 26px;
	}

	.aqi-trend {
		padding-left: 20px;
	}

	.aqi-status {
		font-size: 16px;
		margin-bottom: 14px;
		font-weight: bold;
	}

	.aqi-value {
		font-size: 30px; //42
		font-weight: bold;
	}

	.parameter-trend {
		max-height: 400px;
		overflow: auto;
	}

	/*.aqi-pollutant-graphs {
		margin-top: 30px;
		border-bottom: 1px solid #ddd;
	}*/

	.aqi-pollutant-graphs {
		width: 33.3%;
		display: inline-block;

		.mar-left {
			margin-left: -20px;
		}
	}

	.graph-name {
		padding: 0 55px;
	}

	.pollutant-name {
		font-size: 16px;
	}

	.graph-aqi {
		margin-left: 30px;
	}

	.graph-aqi-value {
		font-size: 26px;
		padding-right: 10px;
		font-weight: bold;
	}

	.back-col {
		background-color: #f4f4f4;
	}

	.weather-values {
		text-align: center;
		margin: 5px 0;
	}

	.weather-value {
		font-size: 20px;
		font-weight: 600;
	}

	.para-value {
		margin-top: -15px;
		position: relative;
		z-index: 2;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.gas-graph {
		padding: 20px 0;
	}

	.value-name {
		color: #063261;
	}

	.value {
		display: inline-block;
		padding: 0 15px;
		padding-left: 0;
		text-align: center;
	}

	.value {
		padding: 0 !important;
		padding-right: 10px !important;
	}

	.graph-avg-value {
		font-size: 20px;
		font-weight: bold;
		padding-right: 6px;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}
}

#dds_data {
	.head {
		margin-left: 25px;
	}

	.aqi-details {
		margin-top: 0px !important;
	}

	.last-update-line {
		display: inline-flex;
		align-items: center;
	}

	.last-update-text {
		font-weight: normal;
		font-size: 12px;
	}

	.last-update-time {
		font-weight: normal;
		font-size: 14px;
		margin-left: 5px;
		color: #235291;
	}

	.parameter-trend {
		max-height: 500px;
		padding-bottom: 20px;
		margin-bottom: 80px;
	}

	.section-head {
		padding-left: 25px;
	}

	.online-label {
		margin-right: 5px;
	}

	.icon-title {
		margin-right: 5px;
	}
}

.ant-modal {
	width: 720px !important;
}


.manual-message-modal {

	.ant-modal-body {
		padding: 26px;
	}

	.ant-modal-footer {
		padding: 15px 26px;
	}
	
	.date-time-selection {
		margin: 26px 0;
	}

	.ant-calendar-picker{
		font-weight: normal !important;
	}
	.ant-radio-wrapper {
		font-weight: normal !important;
	}

	.from-time-area {
		width: 40%;
		display: inline-block;
		margin-right: 20px;
	}

	.infinite {
		margin-left: 20px;
	}

	.ant-btn-primary {
		margin-left: 14px;
	}

	.upto-time-area {
		width: 55%;
		display: inline-block;
	}

	.label-name {
		margin-bottom: 10px;
	}
	
}

@media screen and (min-width: 1441px) {
	body {
		font-size: 16px !important;
	}

	.dashboard-wid-wind, .dashboard-widout-wind {
		.hed {
			font-size: 16px !important;
		}

		.width-90 {
			width: 100% !important;
		}
	}

	.dashboard-wid-wind .aqi-pollutant-graphs .mar-left {
		margin-left: -65px !important;
	}

	.dashboard-widout-wind .pollutant-name {
		font-size: 16px !important;
	}

	.dashboard-widout-wind {
		.ant-col-7 { 
			.value:first-child {
				margin-left: -30px !important;
			}
		}
	}

	#dashboard {
		.full-height {
			height: 600px;
		}

		.device-details {
			max-height: 545px;
		}

		.label-wrapper {
			font-size: 14px;
		}

		.hed {
			font-size: 16px !important;
		}

		.width-90 {
			width: 100% !important;
		}

		.head {
			font-size: 22px;
		}

		.device-details {
			max-height: 545px;
		}

		.min-height {
			min-height: 277px;
		}

		.padng {
			padding-top: 40px !important;
		}

		.img-logo {
			width: 70%;
		}

		.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
			font-size: 16px;
		}
	}
}

@media screen and (max-width: 1280px) {
	#dashboard {
		.count {
			padding: 4px 7px;
		}

		.pad-20-0 {
			padding: 20px 0 !important;
		}
	}
}

@media screen and (max-width: 1024px) {
	#dashboard {
		.white {
			width: 100%;
			margin-top: 40px;
		}

		.logo-img {
			width: 77% !important;
		}
		
		.mobile-hide {
			display: none;
		}

		.parameter-trend, .weather-trend, .aqi-trend-details {
			width: 100% !important;
		}

		.mobile-show {
			display: block;
		}

		.width-100 {
			width: 100%;
			margin-top: 80px;
		}

		.map-container {
			margin: 0px;
			width: 100%;
		}

		.highcharts-container {
			width: 100% !important;
		}
	}

	.dashboard-type-1 {
		.aqi-pollutant-graphs {
			width: 50%;
		}
	}
}

@media (max-width: 1023px) {
	#dashboard {
		.count {
			padding: 0px 14px;
			float: right;
		}

		.width-100 {
			margin-top: 0;
		}

		.back-white {
			background: #fff;
			padding: 20px 0;
		}

		.pad-t-35 {
			padding-top: 35px;
		}

		.pad-lr-20 {
			padding: 0 20px;
		}

		/*.display-none {
			display: none;
		}*/

		.mar-bot-25 {
			margin-bottom: 25px;
		}

		.aqi-scale {
			width: 84%;
			margin: 0 auto !important;
		}

		.aqi-trend {
			padding-left: 0;
		}

		.ant-col-4 {
			width: 10%;
		}

		.aqi-value {
			font-size: 34px;
		}

		.aqi-status {
			margin-bottom: 9px;
		}

		.device-section {
			margin-top: 40px !important;
		}
	}
}

@media (max-width: 768px) {
	#dashboard {
		.contain {
			margin-bottom: 30px;
		}

		.back-grey {
			margin-top: 50px;
		}

		.mobile-hide {
			display: none;
		}

		.city-select {
			width: 100%;
			margin: 0 auto;
		}

		.search {
			margin-top: 50px;
		}

		.ant-select {
			width: 100% !important;
		}

		.more {
			display: none;
		}
	}
}

@media (min-width: 600px) and (max-width: 640px) {
	#dashboard {
		.ant-col-4 {
			width: 16%;
		}

		.head {
			margin-top: 30px;
			margin-bottom: 0;
		}

		.display-none {
			display: none;
		}

		.aqi-details {
			margin-top: 0;
		}
	}
}

@media screen and (max-width: 425px) {
	
	#dashboard {
		.head {
			margin-top: 30px;
			margin-bottom: 0;
		}

		.display-none {
			display: none;
		}

		.logo-img {
			width: 110% !important;
		}

		.city-select {
			width: 100%;
			margin-left: 0;
		}

		.aqi-details {
			margin-top: 0;
			display: none;
		}

		.weather-trend {
			display: block !important;
		}

		.ant-select {
			width: 100% !important;
		}

		.ant-col-7 {
			width: 51%;
		}

		.mar-top-20 {
			margin-top: 20px;
		}

		.width-41 {
			width: 41% !important;
		}

		.font-24 {
			font-size: 18px;
			width: 30%;
		}

		.weather-value {
			font-size: 14px;
		}

		.hr24-graph {
			display: none;
		}

		.pad-lr-10 {
			padding-left: 10px;
			padding-right: 10px;
		}

		.pad-20-0 {
			padding: 20px 0 !important;
		}

		.width-22 {
			width: 22% !important;
		}

		.ant-col-4 {
			width: 16.66666667%;
		}

		.width-90 {
			width: 90%;
		}

		.aqi-value {
			font-size: 34px;
		}

		.aqi-status {
			margin-bottom: 2px;
		}

		.parameter-trend {
			max-height: unset;
		}
	}
}