body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

.draw-btn-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-align: right;
	left: 0;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.ant-form {
	width: 100%;
}

.ant-table-pagination.ant-pagination {
	display: none;
}

#dds {

	.dds-form {
		display: flex;

		.dds-data-tabs {
			font-size: 14px;

			.dds-config-setting {
				display: inline-block;
				float: right;
				margin-right: 10px;
				padding-top: 4px;
				font-size: 20px;
				cursor: pointer;
			}
		}

		.ant-table-tbody > tr > td:nth-child(3) {
			text-align: center;
		}

		.action-icon {
			padding: 5px 10px;
			cursor: pointer;
		}

		.dds-slider {
			width: calc(70% - 25px);
			display: inline-block;
			margin-right: 25px;

			.ant-carousel .slick-slide {
				text-align: center;
				height: 400px;
				line-height: 400px;
				background: #000;
				overflow: hidden;
			}

			.ant-carousel .slick-slide h3 {
				color: #fff;
			}

			.slider-single-image {
				position: static;
				height: 400px;
				width: 640px;
				display: table;
				margin: auto;
			}

			.image-view-list {
				overflow: auto;
				white-space: nowrap;

				/*.ant-upload-list-picture-card .ant-upload-list-item-info:before {
					background-color: rgba(0, 0, 0, 0);
				}*/

				.ant-upload-list-item-actions {
					.anticon-delete {
						display: none;
					}
				}

				.ant-upload-list-picture-card {
					display: inline-flex;
				}
			}
		}

		.dds-data-view {
			border-left: 1px gray solid;
			width: calc(30% - 0px);
			display: inline-block;
			padding-left: 25px;
		}
	}

	.ant-pagination, .ant-table-pagination {
		display: block;
	}

	.station-tabs-tab {
		text-align:center;
	}

	.station-tabs-bar {
		//border-bottom: 1px solid #e8e8e8;
		margin: 0 0 16px 0;
		outline: none;
		transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		margin-bottom: 20px;
	}

	.table-txt {
		width: 160px;
		display: inline-block;
	}

	.station-tabs-tab {
		cursor: pointer;
		display: inline-block;
		// height: 100%;
		margin: 0;
		border: 1px solid #e8e8e8;
		border-bottom: 0;
		border-radius: 4px 4px 0 0;
		background: #fafafa;
		margin-right: 2px;
		padding: 0 16px;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		line-height: 38px;
	}

	.station-tabs-tab-active {
		background: #fff;
		border-color: #e8e8e8;
		color: #1DA57A;
		font-weight: 500;
		border-bottom: 1px solid white;
		z-index: 20;
	}

	.blank-border {
		border-bottom: 1px solid #ddd;
		z-index: 10;
		margin-top: -1px;
		// width: calc(100vW - 895px);
	}

	.primary {
		color: #f00;
	}

	.success {
		color: #45c27e;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	.back-grey {
		background-color: #fafafa;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding: 25px;
		padding-bottom: 40px;
		background-color: #fff;
		position: relative;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.head {
		color: #063261;
		width: 100%;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.device-device {
		.head {
			margin-left: 7px;
		}
	}

	.ant-form-item-label {
		font-weight: normal;
	}

	.dot1 {
		display: inline-block;
		border: 2px solid #45c27e;
		height: 12px;
		width: 12px;
		margin-left: -7px;
		margin-right: 10px;
		border-radius: 60px;
		margin-bottom: 0px;
	}

	.dot1.online {
		border-color: #45c27e;
	}

	.dot1.offline {
		border-color: #F25A59;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.label {
		text-align: left;
		font-weight: bold;
	}

	.option {
		text-align: left;
	}

	.device-details {
		margin-bottom: 50px;
	}

	.pie-text {
		text-align: center;
	}

	.highcharts-container {
		margin: 0 auto;
	}

	.online-device {
		font-size: 18px;
	}

	.activity-details {
		background: #f7f7f7;
	}

	.activity-container {
		overflow-y: scroll;
		max-height: 290px;
	}

	.activities {
		padding: 5px 0;
		border-bottom: 1px solid #e8e8e8;

		&:last-child {
			border-bottom: none;
		}
	}

	.table-filter {
		width: 30%;
		margin-right: 10px;
		display: inline-block;
		float: left;

		.ant-select-search__field__placeholder {
			left: 25px;
		}
	}

	.ant-form-vertical .ant-form-item-control {
		text-align: left;
	}

	.ant-select {
		width: 100%;
	}

	.table-search {
		width: 40%;
		display: inline-block;
		padding-bottom: 20px;
	}

	.filter-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 12px;
		height: 16px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'><path d='M43.7.3A1 1 0 0 0 43 0H1.1a1 1 0 0 0-.8.3L.1.6 0 1c0 .3.1.6.3.7L15 22.3v21.1c.2.4.6.6 1 .6.3 0 .6-.1.7-.3l12-12c.3-.2.3-.5.3-.8v-8.6L43.7 1.7c.4-.4.4-1 0-1.4zm-16.4 21a1 1 0 0 0-.3.7v8.6l-10 10V22c0-.2 0-.5-.3-.7L3 2h38.2L27.3 21.3z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
		font-weight: normal;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 25px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}

	.analytics-image, .device-image, .sync-img {
		cursor: pointer;
	}

	.analytics-image path, .device-image path {
		transition: 0.3s;
	}

	.analytics-image:hover path {
		fill: #1da57a;
	}

	.device-image:hover path {
		stroke: #1da57a;
	}

	.butn-contain {
		width: 100%;
		border-top: 1px solid #e8e8e8;
		padding: 10px 0px;
		text-align: right;
		border-radius: 0 0 4px 4px;
	}

	.dot {
		display: inline-block;
		border: 1px solid #45c27e;
		height: 9px;
		width: 9px;
		margin-left: -7px;
		margin-right: 3px;
		border-radius: 60px;
		margin-bottom: 1px;
	}

	.date-time {
		display: inline-block;
	}

	.show-container {
		padding-bottom: 10px;
		font-size: 14px;
		color: #063261;
	}

	.show-txt {
		padding: 0 10px;
	}

	.form-txt {
		padding-right: 5px;
	}

	.border-top {
		border-top: 1px solid #d9d9d9;
		padding-top: 10px;
	}

	.btn-contain {
		display: block;
		padding: 10px 0;
		padding-bottom: 20px;
		text-align: left;
	}

	.calibration-form {
		.ant-form-item-label {
			font-weight: normal;
		}
	}

	.ant-row .ant-form-item {
		padding-top: 10px;
	}

	.right {
		float: right;

		.ant-form-vertical .ant-form-item {
			margin-bottom: 20px;
			padding-bottom: 0px;
		}

		.ant-form-item-control {
			text-align: right;

			.anticon-close {
				font-size: 20px;
				cursor: pointer;
				transition: 0.5s;
			}

			.anticon-close:hover {
				color: #1da57a;
			}
		}
	}

	.device-device {
		position: relative;
	}

	.back-btn {
		position: absolute;
		display: inline-block;
		right: 26px;
		z-index: 3;
	}

	.input-local-class-out {
		font-family: "Monospaced Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 14px;
		line-height: 1.5;
		color: rgba(0, 0, 0, 0.65);
		margin: 0;
		padding: 0;
		list-style: none;
		height: 32px;
		position: relative;
		outline: none;
		user-select: none;
		box-sizing: border-box;
		display: block;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #d9d9d9;
		border-top-width: 1.02px;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);

		.input-local-class-in {
			display: block;
			margin-left: 11px;
			margin-right: 11px;
			position: relative;
			line-height: 30px;
		}
	}
}

.device-loader {
	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.min-height {
		min-height: 250px;
		text-align: center;

		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}
}

@media screen and (min-width: 1441px) {
	body {
		font-size: 16px !important;
	}

	#dds {
		.ant-btn {
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 1024px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 70% !important;
	}

	#dds {
		.mobile-hide {
			display: none;
		}

		.mobile-show {
			display: block;
		}

		.width-100 {
			width: 100%;
		}

		.activity-details {
			width: 60%;
			margin-top: 30px;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-scroll {
			overflow: initial !important;
			overflow-x: unset !important;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body, .ant-table-header {
			width: 160%;
		}
	}
}

@media (max-width: 768px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 100% !important;
	}
	
	#dds {
		.contain {
			margin: 20px auto;
			margin-left: 0;
			text-align: center;
			width: 100%;
		}

		.activity-details {
			width: 60%;
		}

		.ant-table-body, .ant-table-header {
			width: 160%;
		}
	}
}


@media (max-width: 600px) {
	#dds {
		.ant-table-body, .ant-table-header {
			width: 210%;
		}

		.activity-details {
			width: 70%;
		}

		.contains {
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		.wid-100 {
			width: 100% !important;
		}

		.right {
			display: none;
		}

		.calibration-form {
			.calib {
				border-bottom: 1px solid #d9d9d9;
				padding: 10px 0;

				&:last-child {
					border: none;
				}
			}

			.ant-col-5 {
				width: 52% !important;
			}

			.ant-col-3 {
				width: 50% !important;
			}
		}
	}
}

@media (max-width: 425px) {
	#dds {
		.ant-table-body, .ant-table-header {
			width: 400%;
		}

		.activity-details {
			width: 100%;
		}

		.table-filter, .table-search {
			width: 100%
		}

		.table-filter {
			margin-bottom: 20px;
		}

		.back-btn {
			position: relative;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 360px) {
	#dds {
		.ant-table-body, .ant-table-header {
			width: 420%;
		}
	}
}

.dds-preview-slider {
	width: 100%;
	display: inline-flex;
	height: calc(100vH - 110px);

	.ant-carousel .slick-slide {
		text-align: center;
		height: 400px;
		line-height: 400px;
		background: #000;
		overflow: hidden;
	}

	.ant-carousel .slick-slide h3 {
		color: #fff;
	}

	.slider-single-image {
		position: static;
		height: 400px;
		width: 640px;
		display: table;
		margin: auto;
	}

	.ant-carousel {
		display: inline-block;
		width: calc(100% - 130px);
		margin-left: 20px;
	}

	.image-view-list {
		width: 110px;
		overflow: auto;
		height: calc(100vH - 105px);
		display: inline-block;
		white-space: nowrap;

		.ant-upload-list-picture-card .ant-upload-list-item-info:before {
			background-color: rgba(0, 0, 0, 0);
		}

		.ant-upload-list-item-actions {
			display: none;
		}
	}
}

.config-tab {
	.station-tabs-tab {
		text-align:center;
	}

	.station-tabs-bar {
		//border-bottom: 1px solid #e8e8e8;
		// margin: 0 0 16px 0;
		outline: none;
		transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		// margin-bottom: 20px;
	}

	.table-txt {
		width: 160px;
		display: inline-block;
	}

	.station-tabs-tab {
		cursor: pointer;
		display: inline-block;
		// height: 100%;
		margin: 0;
		border: 1px solid #e8e8e8;
		border-bottom: 0;
		border-radius: 4px 4px 0 0;
		background: #fafafa;
		margin-right: 2px;
		padding: 0 16px;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		line-height: 38px;
	}

	.station-tabs-tab-active {
		background: #fff;
		border-color: #e8e8e8;
		color: #1DA57A;
		font-weight: 500;
		border-bottom: 1px solid white;
		z-index: 20;
	}

	.blank-border {
		border-bottom: 1px solid #ddd;
		z-index: 10;
		margin-top: -1px;
		width: calc(100vW - 895px);
	}
}

.complete-form {
	display: flex;

	.config-form-picture-wall {
		display: flex;
		align-items: center;
		border-top: 1px solid #ddd;
		overflow: auto;
		white-space: nowrap;
		position: relative;
		border-bottom: 1px solid #ddd;
		padding-bottom: 8px;

		/*.ant-upload-list-picture-card .ant-upload-list-item-info:before {
			background-color: rgba(0, 0, 0, 0);
		}*/

		.add-to-que {
			position: absolute;
			right: 0;
		}

		/*.ant-upload-list-item-actions {
			.anticon-delete {
				display: none;
			}
		}*/

		.ant-upload-list-picture-card {
			display: inline-flex;
		}
	}

	.final-config-form {
		width: calc(50% - 20px);
		padding-left: 20px;
		border-left: 1px solid #ddd;
		// display: inline-block;
		display: flex;
		padding-top: 20px;

		.final-config-que {
			overflow: auto;
			white-space: nowrap;
			width: 110px;
			height: calc(100vH - 110px);
			display: inline-block;

			/*.ant-upload-list-picture-card .ant-upload-list-item-info:before {
				background-color: rgba(0, 0, 0, 0);
			}*/

			/*.ant-upload-list-item-actions {
				display: none;
			}*/
		}

		.form-with-time {
			display: inline-block;
			margin-left: 40px;
		}
	}

	.margin-upload {
		margin-top: 30px;
	}

	.text-config-form, .image-config-form, .video-config-form {
		width: calc(50% - 20px);
		margin-right: 20px;
		display: inline-block;
		padding-top: 20px;
	}

}
.modal-display-confirm {
	display: flex;

	.ant-carousel .slick-slide {
		text-align: center;
		height: 400px;
		line-height: 400px;
		background: #000;
		overflow: hidden;
	}

	.ant-carousel .slick-slide h3 {
		color: #fff;
	}

	.slider-single-image {
		position: static;
		height: 400px;
		width: 640px;
		display: table;
		margin: auto;
	}

	.image-view-list {
		overflow: auto;
		white-space: nowrap;

		/*.ant-upload-list-picture-card .ant-upload-list-item-info:before {
			background-color: rgba(0, 0, 0, 0);
		}*/

		/*.ant-upload-list-item-actions {
			.anticon-delete {
				display: none;
			}
		}*/

		/*.ant-upload-list-picture-card {
			display: inline-flex;
		}*/
	}
}

.btn-to-edit {
	float: right;
	margin-top: -60px;
	margin-right: 30px;
}
