body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: #dfdfdf;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #f2f8f9;
}

::-webkit-scrollbar-thumb:hover {
		background-color: #C1C1C1;
}

#device {
	background-color: #f2f8f9;

	.device-count-wrapper {
		width: calc(20% - 30px);
		display: inline-block;
		font-size: 14px;
		text-align: center;

		/*.count-display {
			font-size: 20px;
		}

		.count-total {
			font-size: 20px;
		}*/
	}

	.station-tabs-tab {
		text-align:center;
	}

	.station-tabs-bar {
		//border-bottom: 1px solid #e8e8e8;
		margin: 0 0 16px 0;
		outline: none;
		transition: padding 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		margin-bottom: 20px;
	}

	.station-tabs-tab {
		cursor: pointer;
		display: inline-block;
		// height: 100%;
		margin: 0;
		border: 1px solid #e8e8e8;
		border-bottom: 0;
		border-radius: 4px 4px 0 0;
		background: #fafafa;
		margin-right: 2px;
		padding: 0 16px;
		transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
		line-height: 38px;
	}

	.station-tabs-tab-active {
		background: #fff;
		border-color: #e8e8e8;
		color: #1DA57A;
		font-weight: 500;
		border-bottom: 1px solid white;
		z-index: 20;
	}

	.blank-border {
		border-bottom: 1px solid #ddd;
		z-index: 10;
		margin-top: -1px;
	}

	.limit-img {
		width: 15px;
		cursor: pointer;
		vertical-align: middle;
	}

	.info-img {
		margin-left: 5px;
		// margin-bottom: 5px;
	}

	.status-img-label{
		width: 10px;
	}

	.label-text{
		display: inline-block;
		margin-left: 10px;
	}

	.center-text {
		color: #999;
		text-align: center;
	}

	.ant-table-row:last-child td {
		border-bottom: none !important;
	}

	.ant-tabs-tab:only-child {
		width: auto !important;
	}

	.table-head-inline {
		display: inline-block;
		width: 160px;
		margin-bottom: 10px;
	}

	.search-input {
		width: calc(100% - 160px);
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-input {
		padding-left: 30px;
	}

	.ant-input-suffix {
		display: none;
	}

	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.center {
		text-align: center;
	}

	.back-grey {
		background-color: #fafafa;
	}

	.mar-auto {
		margin: 0 auto;
	}

	.contains, .ant-layout-footer {
		margin: 0 30px;
		margin-left: 230px;
	}

	.contain {
		margin-top: 86px;
		padding: 20px 20px;
		background: #fff;
	}

	.tabs {
		border: 1px solid #f7f7f7;
		border-radius: 4px;
		margin: 0 4px;
		cursor: pointer;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		width: 15%;
		text-align: center;
	}

	.device-details {
		margin-top: 50px;
	}

	.online-device {
		font-size: 18px;
	}

	.pie-text {
		text-align: center;
	}

	.pie-details {
		background: #f7f7f7;
	}

	.type-details {
		background: #f7f7f7;
	}

	.highcharts-container {
		margin: 0 auto;
	}

	.ant-card {
		height: 100%;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		padding-bottom: 2px;
	}

	.status-hed {
		color: #063261;
		padding-bottom: 10px;
		text-align: left;
	}

	.count {
		padding: 2px 10px;
		display: inline;
		margin-right: 5px;
		float: right;
		background-color: rgba(239, 240, 241, 0.8);
		position: relative;
		font-weight: normal;
		border-radius: 20px;
	}

	.device-name-container {
		overflow-y: scroll;
		max-height: 300px;

		div.description {
			border-bottom: 1px solid #e8e8e8;
			padding: 5px 0;

			.type-name {
				display: inline-block;
				width: 30px;
				vertical-align: top;
			}

			.type-description {
				display: inline-block;
				width: calc(100% - 31px);
			}
		}
		div.description:last-child {
			border-bottom: none;
		}
	}

	.device-names {
		padding: 5px 0;
	}

	.activity-details {
		background: #f7f7f7;
	}

	.activity-container {
		overflow-y: scroll;
		max-height: 300px;
	}

	.activities {
		padding: 5px 0;
		border-bottom: 1px solid #e8e8e8;

		&:last-child {
			border-bottom: none;
		}
	}

	.ant-select {
		width: 100%;
	}

	.table-filter {
		width: 15%;
		margin-right: 10px;
		display: inline-block;
		float: left;
	}

	.table-search {
		width: 50%;
		display: inline-block;
		padding-bottom: 20px;
		margin-right: 10px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.table-head {
		color: #063261;
		padding-bottom: 10px;
		text-align: left;
	}

	.table-contain {
		// margin-top: 30px;
		margin-bottom: 30px;
		padding: 15px 20px;
		padding-top: 50px;
		background: #fff;
		padding-bottom: 20px
	}

	.filter-contain {
		margin-bottom: 20px;
	}

	.grid {
		cursor: pointer;
		font-size: 20px;
	}

	.status-img {
		width: 15px;
	}

	.filters {
		padding: 10px;
		margin: 0 5px;
		background: #f7f7f7;
		border-radius: 4px;
		cursor: pointer;
	}

	.custom-filter-dropdown {
		padding: 8px;
		border-radius: 6px;
		background: #fff;
		box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
	}

	.custom-filter-dropdown input {
		width: 130px;
		margin-right: 8px;
	}

	.custom-filter-dropdown button {
		margin-right: 8px;
	}

	.highlight {
		color: #f50;
	}

	.ant-table-pagination.ant-pagination {
		display: none;
	}

	.hed {
		font-size: 14px;
		font-weight: bold;
		margin-bottom: 10px;
		margin-left: 15px;
		text-align: left;
		margin-top: 10px;
	}

	.section-head {
		padding: 15px;
		color: #063261;
		border-bottom: 1px solid #ddd;
		position: sticky;
		top: 0;
		margin-right: 1px;
		background-color: #fff;
		z-index: 1;
	}

	.highcharts-credits {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	#device {
		.type-details, .activity-details {
			width: 45%;
			margin-top: 30px;
		}

		.table-filter {
			width: 20%;
		}

		.table-search {
			width: 50%;
		}

		.width-100 {
			width: 100%;
		}
	}
}

@media (max-width: 768px) {
	#device {
		.type-details, .activity-details {
			width: 55%;
		}

		.activity-details {
			margin-top: 40px;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body {
			width: 120%;
		}

		.filter-contain {
		overflow: hidden;
		overflow-x: scroll;
		}

		.filter-contain::-webkit-scrollbar {
			height: 1px;
		}

		.filter-contain::-webkit-scrollbar-track {
			background: transparent;
		}

		.filter-contain::-webkit-scrollbar-thumb {
			background: transparent;
		}
	}
}

@media (max-width: 600px) {
	#device {
		.activity-details {
			width: 70%;
		}

		.table-filter {
			width: 48%;
			margin-bottom: 20px;
		}

		.table-search {
			width: 100%;
		}

		.tab-container {
			overflow-x: scroll;
		}

		.tab-container::-webkit-scrollbar {
			height: 5px;
		}

		.tab-container::-webkit-scrollbar-track {
			background: transparent;
		}

		.tab-container::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.tab-contain {
			width: 200%;
			display: block;
		}

		.ant-table-body {
			width: 140%;
		}
	}
}

@media (max-width: 425px) {
	#device {
		.type-details, .activity-details {
			width: 100%;
		}

		.ant-table-body {
			width: 210%;
		}

		.grid {
			width: 100%;
		}
	}
}

@media (max-width: 360px) {
	#device {
		.contains {
			margin: 0 16px !important; 
		}

		.contain {
			margin-top: 60px;
			padding: 15px 12px;
		}

		.ant-table-body {
			width: 250%;
		}
	}
}