#help {
	font-family: 'PT Sans', sans-serif;
	height: auto !important;
	margin: 0 auto;
	font-size: 14px;
	background-color: #fff;

	strong {
		font-weight: normal;
		color: #0bac74;
	}

	#menu-back {
		display: none;
	}

	#menu-wrapper {
		display: none;
	}

	.ant-menu-horizontal > .ant-menu-submenu {
		margin: 0 !important;
	}

	.ant-select-selection__clear {
		font-size: 16px !important;
	}

	.ant-select-selection__rendered {
		ul {
			padding-inline-start: 0 !important;
		}
	}

	.ant-select-search {
		margin: 0 !important;
		padding: 0 !important; 
	}

	#back_to_top {
		position: fixed;
		bottom: 1em;
		right: 1em;
		border-radius: 50%;
		z-index: 101;
		width: 35px;
		height: 34px;
		cursor: pointer;
		transition: all .3s ease 0s;
		display: none;
	
		&:hover {
			background: #4cbb95;

			svg {
				circle, path {
					stroke: #fff;
				}
			}
		}
	}

	.bold-600 {
		font-weight: 600 !important;
	}

	.type-a {
		list-style-type: upper-alpha;
	}

	.type-i {
		list-style-type: lower-roman;
	}

	.underline {
		height: 2px;
		position: relative;
		width: 100%;
		margin: 0 auto;
		margin-top: 0.3em;
		background: linear-gradient(315deg, #53c192, #2699ab);
		font-size: 25px;
		font-weight: 300;
		letter-spacing: 1.1px;
		margin-bottom: 20px;
	}

	.mar-top-10 {
		margin-top: 10px;
	}

	#hed1 {
		background-image: url("https://dev.datoms.io/aurassure-website/imgs/contact/head_design-01.png"), linear-gradient(315deg,#53c192,#2699ab);
		background-size: cover;
		background-position: center;
		background-opacity: 15%;
		display: block;
		position: relative;

		.page-header {
			text-align: center;
			color: #fff;
			margin: 0;
			font-size: 30px;
			padding-bottom: 50px;
			padding-top: 100px;
			border: none;
		}
	}

	.mob-menu {
		display: none;
	}

	.main-container {
		display: flex;

		.menu-side-container {
			background: #efefef;
			width: 36%;
			text-align: right;
			padding-top: 40px;
			padding-bottom: 30px;

			.menu-side {
				text-align: left;
				position: sticky;
				top: 10%;
				width: 70%;
				margin-right: 80px;
				float: right;

				.accordion {
					width: 100%;
					padding: 0;
					background: transparent;
					border-radius: 4px;

					.link {
						cursor: pointer;
						display: block;
						padding: 15px;
						margin-bottom: 10px;
						color: #232323;
						font-size: 15px;
						font-weight: 700;
						position: relative;
						transition: all 0.4s ease;

						&:hover {
							box-shadow: 3px 3px 10px #ddd;
						}
					}

					li {
						list-style: none;

						&:last-child {
							.link {
								border-bottom: 0;
							}
						}

						i {
							position: absolute;
							top: 15px;
							font-size: 18px;
							color: #232323;
							transition: all 0.4s ease;
						}

						i.fa-chevron-down {
							right: 15px;
							left: auto;
							font-size: 13px;
						}

						.submenu {
							display: none;
							background: rgba(221,221,221,0.271);
							padding: 0;
							font-size: 14px;
							margin-top: -10px;
							margin-bottom: 10px;

							li {
								border-bottom: 1px solid #e6e6e6;
								list-style: none;
								cursor: pointer;
							}

							span {
								display: block;
								text-decoration: none;
								color: #232323;
								padding: 12px;
								padding-left: 25px;
								transition: all 0.25s ease;

								&:hover {
									background: #2699ab;
									color: #fff;
								}
							}
						}
					}

					li.open {
						i.fa-chevron-down {
							transform: rotate(180deg);
						}
					}
				}
			}
		}

		.content-container {
			width: 65%;
			height: auto;
			padding-top: 40px;
			padding-bottom: 30px;

			.container {
				width: 70%;
				margin-left: 80px;

				.search-box-container {
					position: sticky;
					top: 7%;
					z-index: 333;
				}

				.sec-container {
					list-style: none;
				}

				li {
					padding: 5px 0;
				}
			}
		}
	}
}


#help {
	.hed {
		background: #fff;

		.main-nav-list {
			li {
				a {
					text-decoration: none;
				}
			}
		}
	}

	p {
		text-align: justify;
		line-height: 1.5;
		margin-top: 10px;
	}

	ul {
		li {
			margin: 4px 0;
		}
	}

	.display1 {
		display: none;
	}

	.display2 {
		display: block;
	}

	.ul-style {
		list-style: none;
		margin: 50px auto;
		margin-top: 0;
		display: flex;

		.li-style {
			margin: 0 auto;
		}
	}

	.width-70 {
		width: 70%;
		text-align: center;
		margin: 5% 0;
	}

	.width-100 {
		width: 100%;
		text-align: center;
		margin: 3% 0;
		height: 100%;
	}

	.left-quote {
		width: 15px;
		padding-bottom: 5px;
		padding-right: 3px;
	}

	.right-arrow {
		width: 11px;
		padding-right: 10px;
		margin-bottom: 1px;
	}

	.head-strip {
		height: 12vh;
		width: 100%;
		position: absolute;
		left: 0;
		right: 0;
		z-index: -1;
	}

	.underline11 {
		height: 2px;
		width: 20%;
		margin: 0 auto;
		margin-top: 0.3em;
		background: linear-gradient(270deg, #87d0b0, #66b7c2);
		font-size: 25px;
		font-weight: 300;
		letter-spacing: 1.1px;
	}

	.color-strip {
		color: #0f2b63;
	}

	.font-bold {
		font-weight: bold;
	}

	.font-normal {
		font-weight: normal;
	}

	.mar-top {
		margin-top: 15%;
	}

	.mar-top-3 {
		margin-top: 3%;
	}

	.mar-auto {
		margin: 0 auto;
	}

	.txt-centr {
		text-align: center;
	}

	.font-col-black {
		color: #232323 !important;
	}

	.red {
		color: #0bac74;
		font-weight: normal !important;
	}

	.align-center {
		text-align: center;
	}

	.display-inline {
		display: inline-block;
		width: 50%;
	}

	.full-width {
		text-align: center;
	}
	.container {
		text-align: center;
		font-size: 15px;

		h3.heading {
			font-size: 20px;
			font-weight: bold;
			color: #0f2b63;
			text-align: left;
		}

		.date {
			font-size: 12px;
			margin-top: -5px;
			margin-bottom: 30px;
			text-align: left;
		}

		.content {
			text-align: left;
			line-height: 1.5em;
			max-width: 960px;
			line-height: 1.4em;
			margin: auto;

			h3.content-title {
				color: #232323;
				font-size: 18px;
				margin-top: 60px;
				text-align: left;
				margin-bottom: 30px;
			}

			h4.content-title {
				color: #232323;
				margin-top: 0;
				margin-bottom: 20px;
				font-size: 18px;
			}
		}

		a {
			outline: none;
			text-decoration: none;
		}

		.btn-contain {
			background: linear-gradient(315deg, #53c192, #2699ab);
			width: 217px;
			height: 44px;
			text-align: center;
			display: inline-block;
			margin: 40px 0;
			position: relative;

			.btn {
				background: #fff;
				position: relative;
				width: 213px;
				height: 40px;
				margin: 0 auto;
				margin-top: 2px;
				border: 0;
				overflow: hidden;
				text-align: center;
				text-decoration: none;
				display: block;
				transition: 0.3s;
				cursor: pointer;

				&:hover {
					.btn-text {
						color: #fff;
					}

					&:after {
						width: 130%;
						left: -10%;
					}
				}

				&:after {
					height: 120%;
					position: absolute;
					left: -10%;
					top: 0;
					content: '';
					transform: skewX(40deg);
					width: 0;
					z-index: 1;
					transition: 0.3s;
					background: linear-gradient(315deg, #53c192, #2699ab);
				}

				.btn-text {
					position: relative;
					z-index: 2;
					color: #2f8460;
					font-size: 16px;
					font-weight: bold;

					&:hover {
						color: #fff;
					}
				}
			}
		}
		.full-width {
			width: 100%;
			text-align: center;

			img {
				width: 100%;
			}

			.hed_img {
				max-height: 270px;
				width: auto;
				max-width: 100%;
				margin: auto;
			}

			.hed_img.height-400 {
				max-height: 400px;
			}

			.img_dashboard {
				width: 100%;
				margin: 15px 0;
			}
		}

		.fig-caption {
			text-align: center;
			font-weight: bold;
			font-size: 13px;
		}

		h3.content-title {
			color: #596d8b;
			font-size: 20px;
			margin-top: 15px;

			.underline {
				height: 2px;
				width: 20px;
				margin-top: 2px;
			}
		}

		.break {
			page-break-before: always;
		}

		.row {

			margin-right: 0 !important;
			margin-left: 0 !important;

			div {
				img {
					margin-top: 10px;
					margin: 15px auto;
					width: 100%;
				}

				p {
					margin-top: 10px;
				}
			}
		}
	}

	.foot {
		margin-top: 50px;
	}

	footer {
		overflow: hidden;
	}

	.widt-100 {
		width: 100% !important;
	}

	.width-90 {
		margin: 1% auto;
		width: 90%;
	}

	.mar-top-30 {
		margin-top: 30px;
	}

	.wid-100 {
		width: 100% !important;
	}

	.dspl-flex {
		display: flex;
		align-items: center;
	}
}

@media (min-width: 1441px) {
	#help {
		font-size: 16px;

		.width-100 {
			height: 50vh;
		}

		.main-container {
			.menu-side-container {
				.menu-side {
					width: 60%;
				}
			}

			.content-container {
				.container {
					width: 70%;
				}
			}
		}
	}
}

@media (max-width: 1023px) {
	#help {
		.main-container {
			.menu-side-container {
				.menu-side {
					width: 70%;
					margin-right: 40px;
				}
			}

			.content-container {
				.container {
					margin-left: 40px;
				}
			}
		}
	}
}

@media (max-width: 768px) {
	#help {
		font-size: 14px;

		.rotate-topbar {
			transform: translateX(11px) translateY(10px) rotate(50deg) !important;
		}

		.rotate-btmbar {
			transform: translateY(8px) rotate(-50deg) !important;
		}

		ul, ol {
			padding-inline-start: 20px;
		}

		#menu-back{
			height: 100%;		
			width: 100%;
			position: fixed;
			z-index: 10;
			background-color: transparent;
		}
			
		.open1 {
			display: block !important;
		}
			
		#menu-wrapper {
			display: block;
			position: fixed;
			top: 43px;
			z-index: 12;
			left: 0;
			width: 100%;

			.burger-container1 {
				position: relative;
				display: inline-block;
				float: left;
				height: 50px;
				width: 50px;
				cursor: pointer;
				transform: rotate(0deg);
				transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
				user-select: none;
				-webkit-tap-highlight-color: transparent;
				
				#burger1 {
					width: 18px;
					height: 8px;
					position: relative;
					display: block;
					margin: -6px;
					top: 47%;
					
					.bar1 {
						width: 100%;
						height: 2px;
						display: block;
						position: relative;
						background: #FFF;
						transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
						transition-delay: 0s;
						
						&.topBar1 {
							transform: translateX(11px) translateY(10px) rotate(-50deg);
							transition: all 0.5s;
						}
						
						&.btmBar1 {
							transform: translateY(8px) rotate(50deg);
							transition: all 0.5s;
						}
					}
				}
			}

			#menu-bar {
				display: block;
				width: 100%;
				height: 50px;
				background-color: rgba(45, 45, 45, .9);
			}
				
			.menu-hed {
				position: absolute;
				color: #fff;
				top: 25px;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			#menu-tab {
				background-color: transparent;
				color: #fff;
				cursor: pointer;
				position: absolute;
				top: -3px;
				width: 35px;
				right: 10px;
				padding: 0 10px;
				border-radius: 0 0 5px 5px;
				
				img {
					width: 70%;
				}
			}

			#menu-nav {
				display: none;
				padding: 5px 10px;
				background-color: rgba(45, 45, 45, .9);
				color: #333333;
				
				ul {
					list-style: none;
					margin: -4px 0;
					padding: 0;
					
					li {
						padding: 10px;
						cursor: pointer;
						text-align: center;
						color: #fff;
						opacity: 0.8;
						font-size: 14px;
						line-height: 1.5;
						
						&:first-child {
							border-top: 1px solid grey;
							padding-top: 0;
							margin: 0 auto;
							width: 100%;
						}
							
						&:last-child {
							border-bottom: 1px solid #2699ab;
						}
							
						span {
							display: block;
						}
					}
				}
			}
		}

		.display2 {
			display: none;
		}

		.display1 {
			display: block;
		}

		.width-100 {
			height: 40vh;
		}

		.height-30 {
			height: 30vh;
		}

		#hed1 {
			.page-header {
				padding-top: 130px;
				font-size: 22px;
			}
		}

		.main-container {
			.menu-side-container {
				display: none;
			}

			.content-container {
				width: 95%;
				margin: 0 auto;

				.container {
					margin-left: 0;
					width: 100%;

					h3.heading{
						font-size: 18px;
					}

					.content {
						font-size: 14px;

						h3.content-title{
							font-size: 16px;
							margin-top: 30px;
							margin-bottom: 20px;
						}

						h4.content-title {
							font-size: 16px;
						}
					}
				}
			}
		}
	}
}

@media screen and (max-width: 767px) {
	#help {
		.width-70 {
			width: 100%;
		}

		.container {
			.content {
				width: 90%;
				margin: 0 auto;
				font-size: 16px;
				text-align: justify;
			}
		}
	}
}

@media (max-width: 425px) {
	#help {
		#hed1 {
			.page-header {
				padding-top: 100px;
				padding-bottom: 30px;
			}
		}
	}
}